# Ignore config.json and settings.json in the root directory
/config.json
/settings.json

# Other existing rules
build/
dist/
Test Data/
add_logo_processor.log
updater.log
Add description to image test.py
Add Logo Processor.spec
Updater.spec
pyinstaller commands.txt
zz Create New Version.py
